.my-style {
	background-color: #C9D8B6;
	color: #57837B;
	border: 3px solid #000;
}

#my-id {
	background-color: #FDD2BF;
	color: #DF5E5E;
}

p {
	background-color: #cdf0ea;
	color: #476072;
}

h1 {
	color: #000;
}
